* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: #f00b42;
	color: #fff;
}

a {
	text-decoration: none;
}

html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'rubik', 'clear sans', 'hiragino kaku gothic', meiryo, sans-serif;
	background: #f8f8f8;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

#shroud {
	z-index: 200;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#shroud.active {
	display: block;
}

#follower {
	display: none;
	z-index: 100;
	position: fixed;
	opacity: 0;
	transform: scale(2);
	-webkit-transform: scale(2);
	transition-property: opacity, transform, -webkit-transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	width: 200px;
	height: 200px;
}
#follower.active {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
}

#main {
	max-width: 1024px;
	margin: 0 auto 64px;
	min-height: 100%;
}

header {
	height: 64px;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1024px;
	background: rgba(248, 248, 248, .9);
	z-index: 50;
}
header h1 a {
	float: left;
	padding: 0 16px;
	color: #d91101;
	display: inline-block;
	height: 64px;
	line-height: 64px;
	font-size: 28px;
	position: relative;
}
header h1 a:hover {
	background: #f00b42;
	color: #fff;
}
#vis {
	margin: 16px 0 0 -128px;
	/*border-bottom: 2px solid #f00b42;*/
	position: absolute;
	left: 50%;
	cursor: pointer;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	color: #d91101;
	font-family: 'rubik', 'clear sans', 'hiragino kaku gothic', meiryo, sans-serif;
	background: transparent;
	border: 1px solid #f00b42;
	outline: none;
}
button:hover {
	color: #fff;
	background: #f00b42;
}
button:active {
	background: #f83801;
}

#upload {
	padding: 0 16px;
	height: 32px;
	line-height: 32px;
	margin: 16px;
	float: right;
	font-size: 14px;
	border-radius: 16px;
}

.delete-song {
	border: none;
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 24px;
	color: #888;
	z-index: 99;
}

.delete-song:hover {
	color: #f00b42;
	background: transparent;
}

h2 {
	font-family: 'tinos', 'didot', 'georgia', 'hiragino mincho pro', 'ryo text plusn', serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 8px;
}
h3 {
	/* text-transform: uppercase; */
	font-size: 14px;
	color: #888;
	font-weight: 400;
}
h3 span {
	font-weight: 700;
}
h3 time {
	/* font-weight: 400; */
}
#loader {
	position: relative;
	width: 200px;
	height: 200px;
}
#loader-bg {
	z-index: 101;
	fill: rgba(217, 17, 1, .2);
}
#loader-track {
	z-index: 102;
	fill: none;
	stroke-width: 8;
	stroke: rgba(217, 17, 1, .1);
}
#loader-bar {
	stroke-width: 8;
	fill: transparent;
	stroke: #f00b42;
}
.song a {
	color: #000;
	display: block;
	padding: 24px 160px 24px 16px;
	min-height: 95px;
	position: relative;
}
.song a:hover {
	color: #f00b42;
}
.meta {
	font-size: 14px;
	color: #888;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	padding: 16px;
	height: 100%;
}
.meta .duration {
	font-size: 18px;
	line-height: 1;
	position: absolute;
	bottom: 22px;
	right: 16px;
	width: 100px;
}

#songlist {
	margin-top: 64px;
	list-style-type: none;
}

li.song {
	position: relative;
	margin-bottom: 16px;
	overflow: hidden;
	max-height: 200px;
	transition: max-height 0.5s cubic-bezier(0, .8, 1, .2);
}
li.song.fresh {
	max-height: 0;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

li.song.active {
	background: #fff;
}
li.song.active h2 {
	color: #d91101;
}

.player-track {
	position: relative;
	transition: all .5s cubic-bezier(0, 1, 0, 1);
	/*display: none;*/
	height: 0px;
	background: #dfdfdf;
	z-index: 5;
}
.player-track.inactive {
	height: 3px;
}
.player-track.active {
	height: 16px;
}
.player-track .player-bar {
	height: 100%;
	width: 0%;
	position: absolute;
	left: 0;
	top: 0;
}
.playback-bar {
	border-right: 2px solid #a00;
	background: #d91101;
	z-index: 4;
}
.buffer-bar {
	border-right: 2px solid #bbb;
	background: #d0d0d0;
	z-index: 3;
}

.song.loading .buffer-bar {
	display: none;
}

.song.loading .player-track.active {
	background: repeating-linear-gradient(135deg, #ccc, #ccc 20px, #ddd 20px, #ddd 40px);
	animation-duration: 0.5s;
	animation-name: scrolling-bar;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes scrolling-bar {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 56.5px 0;
	}
}

/* Needed to insert text as HTML without ruining all of the event listeners. */
.hidden {
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
}

footer {
	padding: 16px;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.delete-song {
		right: 16px;
		font-size: 22px;
	}
}

@media screen and (max-width: 540px) {
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 14px;
	}
	.meta {
		position: relative;
		text-align: left;
		padding: 0;
	}
	.meta .duration, .sizedate {
		font-size: 14px;
		display: inline-block;
		line-height: 1.5;
		position: relative;
		bottom: 0;
		right: 0;
	}
	.delete-song {
		/* float: right; */
		bottom: 0;
		right: 16px;
		top: 0;
		font-size: 18px;
		line-height: 18px;
	}
	.song {
		padding-right: 32px;
	}
	.song a {
		padding: 16px;
	}
	#vis {
		display: none;
	}
}
